<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <!-- <h3>This is from AppComponent</h3>
            <hr> -->
             <!-- to use as element  -->
            <!-- <app-servers></app-servers> -->

            <!-- to use as an attribute -->
            <!-- <div app-servers></div> -->

            <!-- to use as class -->
            <!-- <div class="app-servers"></div> -->


            <ol>
                <li>create</li>
            </ol>

            <hr>

            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            
            <app-servers></app-servers>

        </div>
    </div>
</div>
