<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <!-- <h3>This is from AppComponent</h3>
            <hr> -->
             <!-- to use as element  -->
            <!-- <app-servers></app-servers> -->

            <!-- to use as an attribute -->
            <!-- <div app-servers></div> -->

            <!-- to use as class -->
            <!-- <div class="app-servers"></div> -->


            <ol>
                <li>create</li>
            </ol>

            <hr>

            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            
            <app-servers></app-servers>

            <hr>
            <hr>
            <hr>

            <!-- <button class="btn btn-primary"
             (click)="showSecret = !showSecret">Display Details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p> -->


            <button class="btn btn-primary"
             (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p>

            <div *ngFor= "let logItem of log; let i = index"
            [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
            [ngClass]= "{'white-text': i >=4}">
                {{ logItem }}
            </div>
        </div>
    </div>
</div>
